@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply the preload animation to the body element */
body {
  font-family: "Inter", sans-serif;
  background-image: url('/assets/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  background-size: cover;
  overflow: hidden;
  cursor: url('/assets/normal-select.svg'), pointer;
  animation: preload 0.01s forwards;
}